.frame {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first__line,
.second__line,
.third__line,
.fouth__line,
.fifth__line {
  display: flex;
}
